@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #ccc;
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 10px 15px;
	background: linear-gradient(90deg,#F0E68C,#e69900);
	color: #000;
	border: 0;
	font-size: 17px;
	border-radius: 10px;
}
.btn:hover {
	background: linear-gradient(90deg,#55e7fc,#F0E68C);
}

/* Chat Page */

.chat-container {
	max-width: 900px;
	background: #ccc;
	margin: 250px auto;
	overflow: hidden;
}

.chat-header {
	background: #66ffff;
	color: #000;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: #66ffff;
	color: #000;
	padding: 20px 20px 60px;
	overflow-y: scroll;
	border-top: 1px solid #ccc;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #668cff;
	border-radius: 15px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	opacity: 0.8;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #f2f2f2;
	opacity: 0.5;
	margin-left: 12px;
}

.chat-form-container {
	padding: 40px 40px;
	background-color: #66ffff;
	border-top: 1px solid #ccc;
	border-radius:0 0 15px 15px;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
	border-radius: 12px;
	border: 1px solid #ccc;

}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 270px auto;
	color: #fff;

}

.join-header {
	text-align: center;
	padding: 20px;
	background: #999900;
	color:#000;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.join-main {
	padding: 30px 40px;
	background: #999900;
	border-radius: 0 0 20px 20px;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}
.form-control1 {
	display: none;
}
.join-main label {
	display: block;
	margin-bottom: 10px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 20px;
}
.chat-sidebar h2,
.chat-sidebar h4{
	display: none;
}
@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
